:root{
    --background-color: blue;
    --board-background-color:red;
    --board-border-color: burlywood;
    --panel-background-color: lightgoldenrodyellow;
    --panel-border-color:burlywood;
    --player-no-player: white;
    --player-player1: red;
    --player-player2: orange;
}


body{
    background-color: var(--background-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.app-container{
    width: 800px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -400px;
}





.panel {
    position: absolute;
    background-color: var(--panel-background-color);
    border: var(--panel-border-color);
    z-index: 1;
    
}

.header{
    left: 50%;
    top: 90px;
    height: 80px;
    width: 300px;
    margin-left: -120px;
}

.header-text{
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footer{
    left: 50%;
    top: 750px;
    height: 80px;
    width: 300px;
    margin-left: -120px;
    display: grid;
    grid-template-columns: 1fr,1fr;
}

.footer button{
    position: relative;
    left: 50%;
    top: 20%;
    margin-left: -125px;
    width: 250px;
    height: 50px;
    background-color: lightblue;
    font-size: 30px;
    border: 5px solid chocolate;
    font-weight: bold;
}

.footer button:hover{
    background-color: chocolate;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    width: 500px;
    position: absolute;
    left:50%;
    margin-left:-250px;
    top:25%;
    background-color: var(--board-background-color);
    border: var(--board-border-color);
    border-radius: 8%;
}

.gameCircle {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
  border: 5px solid black;
}

.player_0{
    background-color: var(--player-no-player);
}

.player_1{
    background-color: var(--player-player1);

}

.player_2{
    background-color: var(--player-player2);
}
